:root {
  --background-colour: #000000;
  --title-colour: #d138bf;
  --text-colour: #ffffff;
  --square-size: 90px;
  --x-colour: #256eff;
  --o-colour: #d138bf;
  --grid-colour: #00f8e7;
  --grid-line-size: 3px;
  --btn-colour: #0011f8;
  --hover-colour: #00f8e7;
  --title-font: "Quicksand", Arial, sans-serif;
  --main-font: "Montserrat", Arial, sans-serif;
  --piece-font: "Varela Round", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--background-colour);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 48px;
  color: var(--title-colour);
  margin-top: 5px;
}

.game-options-list {
  margin-top: 30px;
}

.game-option {
  list-style: none;
  font-family: var(--main-font);
  font-size: 24px;
  margin-top: 20px;
  color: var(--text-colour);
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  height: 30px;
  margin: 30px 0;
  color: var(--text-colour);
  font-size: 24px;
  font-family: var(--main-font);
}

.game-board {
  margin: 25px;
  position: relative;
  background-color: var(--grid-colour);
  display: grid;
  grid-template-areas:
    "square square square"
    "square square square"
    "square square square";
  grid-gap: var(--grid-line-size);
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  background-color: var(--background-colour);
  font-family: var(--piece-font);
}

.X,
.O {
  font-size: calc(var(--square-size) * 0.9);
  text-align: center;
}

.O {
  color: var(--o-colour);
}

.X {
  color: var(--x-colour);
}

.X::after {
  content: "X";
}

.O::after {
  content: "O";
}

.new-game-btn {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  color: black;
  font-family: var(--title-font);
  font-size: 24px;
  background-color: var(--x-colour);
  border: none;
}

@media (hover: hover) {
  .game-option:hover {
    cursor: pointer;
    color: var(--hover-colour);
  }

  .square:hover {
    cursor: pointer;
  }

  .new-game-btn:hover {
    cursor: pointer;
    background-color: var(--hover-colour);
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  :root {
    --square-size: 75px;
  }

  .title {
    font-size: 28px;
  }

  .game-container {
    display: grid;
    grid-template-areas:
      "game-board game-info"
      "game-board new-game-btn";
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .game-info {
    grid-area: game-info;
  }

  .game-board {
    grid-area: game-board;
  }

  .new-game-btn {
    grid-area: "new-game-btn";
  }
}

@media (min-width: 1700px) and (min-height: 900px) {
  :root {
    --square-size: 120px;
  }

  .title {
    font-size: 68px;
  }

  .game-info {
    font-size: 36px;
    height: 60px;
    margin: 50px 0;
  }

  .new-game-btn {
    margin-top: 30px;
    font-size: 28px;
    width: 180px;
    height: 50px;
  }
}

.hidden {
  display: none;
}

.line {
  --length: 3;
  position: absolute;
  height: 5px;
  background-color: #0011f8;
  width: 1px;
  animation: drawLine 1s 1 forwards;
  border-radius: 5px;
  transform-origin: left;
}

div[class*="1"] {
  --distance: calc(var(--square-size) * 0.5);
}

div[class*="2"] {
  --distance: calc(var(--square-size) * 1.5 + var(--grid-line-size));
}

div[class*="3"] {
  --distance: calc(var(--square-size) * 2.5 + calc(var(--grid-line-size) * 2));
}

div[class*="row"] {
  top: var(--distance);
}

div[class*="column"] {
  transform: rotate(90deg);
  left: var(--distance);
}

div[class*="diagonal"] {
  --length: 4;
}

.diagonal-1 {
  transform: rotate(45deg) translateX(calc(var(--square-size) / 10));
}

.diagonal-2 {
  left: calc(var(--square-size) * 3);
  transform: rotate(135deg) translateX(calc(var(--square-size) / 10));
}

@keyframes drawLine {
  0% {
    width: 1px;
  }

  100% {
    width: calc(var(--square-size) * var(--length));
  }
}
